# Python
__pycache__/
*.pyc

# Dataset files
data/
Dataset/
*.csv
*.xlsx

# results/ klasörü tamamen takip edilir (*.csv override)
!results/
!results/**


# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

docs/

.cursor/