# Python
__pycache__/
*.pyc

# Dataset files
data/
Dataset/
*.csv
*.xlsx

# Outputs
outputs/
*.png
*.jpg
*.jpeg
*.pkl
*.h5
*.pt
*.pth

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

docs/

.cursor/